<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114027424916-g0qdm4hv721qut5d085h4floc7727nni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114027424916-g0qdm4hv721qut5d085h4floc7727nni</string>
	<key>API_KEY</key>
	<string>AIzaSyDNQoDK-LO4YgvE9DwlCBTJKljaFGuMeBs</string>
	<key>GCM_SENDER_ID</key>
	<string>114027424916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mateusz.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chatapp-327f5</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-327f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114027424916:ios:1ec687520dd1585c635881</string>
</dict>
</plist>